apiVersion: v1
kind: Service
metadata:
  name: cockroachdb
  labels:
    app: cockroachdb
spec:
  ports:
    # port for sql
    - port: 26257
      targetPort: 26257
      name: grpc
    # port for management display
    - port: 8080
      targetPort: 8080
      name: http
  # headless service
  clusterIP: None
  selector:
    app: cockroachdb
